<h1>Update Project</h1>

<form action="/project/{{_id}}/update" method="POST">

  <label for="title">
  </label>
  <input type="text" name="title" id="title" value="{{myProject.title}}" />
  <select multiple name="technologies" id="technologies">
    {{#each technologies}}
      {{#if @index}}
        <option selected value="{{this._id}}">{{this.name}}</option>
      {{else}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/if}}

    {{/each}}
  </select>
  <select name="type" id="type">

    <option value="social">social</option>
    <option value="social">social</option>
    <option value="healthcare">healthcare</option>
    <option value="other">other</option>
  </select>
  <textarea name="description" id="description" cols="30" rows="10">
    {{myProject.description}}
  </textarea>
  <input type="text" name="file" id="file" />
  <select name="contributors" id="contributors">
    {{#each users}}
      <option value="{{this._id}}">{{this.userName}}</option>
    {{/each}}
  </select>
  <input type="text" name="owner" id="owner" value="{{owner}}" />
  <button>Update Project</button>
</form>